<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterfazUsuario.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InterfazUsuario.My.MySettings.a_servicesConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=a_services"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InterfazUsuario.My.MySettings>
            <setting name="TemaSeleccionado" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Tema" serializeAs="String">
                <value>2</value>
            </setting>
        </InterfazUsuario.My.MySettings>
    </userSettings>
</configuration>